.insurance-prt {
    width: 320px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.insurance-prt p {
    margin: 0;
    font-size: 12px;
    color: rgba(84,81,87,0.71);
}

.insurance-prt img {
    height: 50px;
}

@media screen and (max-width: 415px) {
    .insurance-prt img {
        margin: 10px auto 15px 10px;
    }
    .insurance-prt p {
        font-size: 14px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 375px) {
    .insurance-prt img {
        width: 200px;
    }
    .insurance-prt p {
        font-size: 12px;
    }
}