/*Каркас приложения - сайта*/

h3,p {
    margin: 0;
}
button {
    display: flex;
    justify-content: space-between;
}
.main__autodrivers {
    margin: 0 auto;
}
.header__text {
    border: none;
    background-color: white;
    color: #2492ff;
}
.cards {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto 30px auto;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose__car {
    width: 50px;
    height: 50px;
    border-radius: 45%;
    border: none;
    background-image: url("/img/car-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}
.choose__driver{
    width: 50px;
    height: 50px;
    border-radius: 45%;
    border: none;
    background-image: url("/img/driver-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}
.choose__car:active {
    background-color: #ffd503;
}
.choose__driver:active{
    background-color: #ffd503;
}
.card__text {
    margin: 0;
}
.cars {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    border-top: lightgray solid 1px;
    padding-top: 10px;
}
.car {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-bottom: lightgray solid 1px;
}
.car__type {
    margin: 0;
    color: rgba(84,81,87,0.52);
}
.add__car {
    width: 90%;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
    border: none;
    background-color: white;
}
.text__add {
    color: #2492ff;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: white;
    color: #000;
    width: 280px;
    height: 240px;
    border-radius: 10px;
    position: relative;
    padding: 0 20px;
}

.popup__image {
    margin: 0;
    margin-top: 20px;
}
.popup__title {
    margin-top: 5px;
    margin-left: 2px;
}
.popup__number {
    margin-top: 10px;
    font-size: 12px;
    color: lightgray;
    margin-bottom: 5px;
}
.popup__input {
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 10px 0;
}
.popup__button {
    width: 100%;
    background-color: #ffd503;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 10px;
}
.popup_active {
    visibility: visible;
    opacity: 1;
}
.car__number{
    font-size: 15px;
    margin-bottom: 5px;
}

.text__add{
    font-size: 18px;
}

/*Размеры для IPhone 6/7/8 Plus */

@media screen and (max-width: 415px){
    .main__autodrivers {
        max-width: 390px;
    }
}

/* Размеры для IPhone 6/7/8/X */

@media screen and (max-width: 375px){
    .main__autodrivers {
        max-width: 350px;
    }

    .card__text {
        margin-top: 5px;
    }
}

/* Размеры для IPhone 5S/SE */

@media screen and (max-width: 320px){
    .main__autodrivers {
        max-width: 300px;
    }
    .image {
        width: 20px;
        height: 20px;
    }
    .car__number {
        font-size: 14px;
    }
    .car__type {
        font-size: 14px;
    }
    .text__add {
        font-size: 14px;
    }
}