/*Каркас приложения - сайта*/

.header {
    display: flex;
    justify-content: space-between;
}
.header a{
    text-decoration: none;
    color: #2492ff;
}
.banner {
    height: 110px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.add__driver {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: lightgray solid 1px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.driver {
    min-height: 120px;
    border-radius: 10px;
    border: lightgray solid 1px;
    align-items: center;
}
.driver__title {
    display: flex;
    justify-content: space-between;
}
.driver__ava {
    display: flex;
    align-items: center;
}
.button__check {
    display: flex;
    margin: 0 auto 10px auto;
    justify-content: center;
    background-color: #ffd503;
    width: 95%;
    padding: 10px 0;
    justify-self: center;
    font-size: 22px;
    border-radius: 10px;
    font-weight: 800;
}
.plus {
    margin: 0;
    font-size: 30px;
    color: dodgerblue;
}
.driver__text {
    margin-top: 10px;
    margin-bottom: 10px;
}
.check__driver {
    margin: 0 auto 5px auto;
    font-size: 18px;
}
.check__text {
    margin: 0;
    font-size: 15px;
}
.driver {
    max-width: 320px;
    margin-bottom: 30px;
}
.driver__title {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

/*Размеры для IPhone 6/7/8 Plus */

@media screen and (max-width: 415px){
    .main__body {
        max-width: 390px;
        margin: 70px auto 70px auto;
    }
    .header {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .banner {
        max-width: 390px;
        margin-bottom: 30px;
        background-image: url("http://lorempixel.com/390/110");
    }
    .driver {
        max-width: 390px;
        margin-bottom: 30px;
    }
    .driver__title {
        margin: 10px 10px;
    }

}

/* Размеры для IPhone 6/7/8/X */
@media screen and (max-width: 375px) {
    .main__body {
        max-width: 350px;
        margin: 0 auto;
    }
    .header {
        margin: 70px auto 20px auto;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .banner {
        max-width: 320px;
        margin-bottom: 30px;
        background-image: url("http://lorempixel.com/320/100");
    }

}
/* Размеры для IPhone 5S/SE */
@media screen and (max-width: 320px) {
    .main__body {
        max-width: 300px;
    }
    .header {
        margin-top: 10px;
    }
    .login__link {
        font-size: 16px;
    }
    .banner {
        height: 75px;
        background-image: url("http://lorempixel.com/320/75");
    }
    .add__driver {
        justify-content: space-between;
        padding: 5px 15px;
        margin-bottom: 15px;
    }
    .check__driver {
        font-size: 16px;
    }
    .check__text {
        font-size: 12px;
    }
    .driver {
        padding: 0 5px;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 18px;
    }
    .button__check {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 600;
    }
}