@import "typography.css";
@import "layout.css";

@media screen and (max-width: 375px) {
    .main__settings {
        max-width: 350px;
        margin: 0 auto;
    }
    .header {
        margin-top: 70px;
        font-size: 25px;
        margin-bottom: 40px;
    }
    .settings__list {
        list-style: none;
        padding: 0;
        justify-items: flex-start;
    }
    .settings__section {
        display: flex;
        margin: 0;
        width: 300px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: lightgray solid 1px;
        margin-left: 10px;
        padding-bottom: 10px;
    }

    .settings__item:nth-child(2) {
        margin-bottom: 20px;
    }
    .settings__item:nth-child(5) {
        margin-bottom: 20px;
    }
    .settings__item {
        display: flex;
    }
    .settings__text {
        text-decoration: none;
        color: black;
        font-size: 18px;
        margin: 0;
        align-self: center;
    }
    .settings__subtext {
        font-size: 15px;
        color: lightgray;
        margin: 0;
        margin-top: 5px;
    }
    .settings__header {
        margin: 0;
        font-size: 18px;
    }
}