@font-face {
    font-family: "SF Pro Display Light";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Light.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "SF Pro Display Bold";
    src: url("../fonts/SFProDisplay-Bold.ttf");
    font-weight: bold;
}

