@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Medium.ttf");
    font-weight: 600;
}