@font-face {
    font-family: "SF Pro Display";
    src: url("../vendor/fonts/SFProDisplay-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../vendor/fonts/SFProDisplay-Regular.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../vendor/fonts/SFProDisplay-Medium.ttf");
    font-weight: 600;
}