.insurance-el {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.insurance-el button {
    width: 24px;
    height: 24px;
    border-radius: 70px;
    border: dimgrey 1px solid;
    align-self: flex-end;
    padding: 0;
    margin-bottom: 15px;
}

.insurance-el:nth-child(5) {
    align-items: start;
}

.insurance-el img {
    width: 24px;
    height: 24px;
}