.main__body {
    margin: 0 auto;
    max-width: 500px;

}
.header__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__image {
    background-size: 40px 40px;
}

.rectangle {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 50px 50px;
}

.section__one {
    width: 460px;
    height: 40px;
    background-color: blue;
}